body {
	background-color: #dddddd;
	font-family: Verdana;
	margin: 0px;
}

#logo {
	width: 100%;
	background-color: #1e1e1e;
	color: #7ca58f;
	font-size: 36px;
	text-align: center;
	padding: 15px 0px;
	font-family: "Source Code Pro", monospace;
	font-weight: 600;
}

#tank {
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5px;
}

#listcreator {
	float: left;
	width: 470px;
	height: 500px;
	padding: 10px;
	background-color: #ffffff;
	border: 5px solid #dddddd;
}

#newlist {
	height: 478px;
	margin-top: 5px;
	margin-bottom: 5px;
	overflow: hidden;
	overflow-y: auto;
	overflow-x: auto;
}

#plainlist {
	float: left;
	width: 470px;
	height: 500px;
	padding: 10px;
	background-color: #ffffff;
	border: 5px solid #dddddd;
	overflow: hidden;
	overflow-y: auto;
	overflow-x: auto;
}

#code {
	width: 970px;
	height: 200px;
	background-color: #ffffff;
	padding: 10px;
	border: 5px solid #dddddd;
}

#script {
	margin-top: 5px;
	margin-bottom: 5px;
	height: 168px;
	overflow: hidden;
	overflow-y: auto;
	font-family: "Source Code Pro", monospace;
}